.content-wrapper {
  background-color: #ffffff;
}

.navbar {
  background-color: #7bbc48 !important;
}

.main-header {
  background-color: #ffffff;
}

.selectize-input {
  max-height: 35px important;
}

.logo {
  background-color: #ffffff !important;
  border-bottom: 3px solid #7bbc48 !important;
  color: #7bbc48 !important;
  font-weight: bold !important;
}

.sidebar-toggle {
  display: none !important;
}

.box {
  border-top: 3px solid #7bbc48
}

.dt-button {
  background-image: none !important;
}

.content {
  padding-top: 0 !important;
}

.odd {
  background-color: #ffffff !important;
}

#file_summary-filesummary tbody {
  font-size: 20px !important;
}

#group_plot-histogramtype {
  padding-top: 4px !important;
}

#var_summary-varsummary {
  white-space: nowrap !important;
}

#group_plot-groupselection {
  font-size: large !important;
}
