.content-wrapper {
  background-color: #ffffff;
}

.navbar {
  background-color: #1d4f91 !important;
}

.main-header {
  background-color: #ffffff;
}

.logo {
  background-color: #ffffff !important;
  border-right: 3px solid #7bbc48 !important;
}

.box {
  border-top: 3px solid #7bbc48
}

.dt-button {
  background-image: none !important;
}

.content {
  padding-top: 0 !important;
}

.odd {
  background-color: #ffffff !important;
}

#var_summary-varsummary {
  white-space: nowrap !important;
}

#group_plot-groupselection {
  font-size: large !important;
}

#sidebarCollapsed {
  background-color: #ffffff !important;
  border-right: 3px solid #7bbc48 !important;
}

#sidebarCollapsed .col-sm-12 {
  color: black;
  padding-top: 10px !important;
}
